@import "../../../../../../../styles.scss";

.container-content-modal-etapa-um{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;

    
    .container-division-content-form{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        justify-content: space-around;
        
        ui-primary-select{
            width: 100%;
        }
        
        ui-third-button{
            width: 100%;
        }
    }

    .calendar{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}