<div class="container-content-modal">
  <ui-third-input label="Nome da arte" [useLabel]="true"></ui-third-input>
  <div class="container-division-content-form">
    <ui-primary-select></ui-primary-select>
    <ui-third-button></ui-third-button>
  </div>
  <div class="calendar">
    <b>Qual é o prazo?<i style="color: red;">*</i></b>
    <p-calendar 
      [(ngModel)]="dateRange" 
      selectionMode="range" 
      [readonlyInput]="true" 
      [showIcon]="true"
      dateFormat="dd/mm/yy"
      placeholder="Selecione o prazo"
      [style]="{ width: '100%', height: '40px', backgroundColor: 'transparent' }"/>
  </div>
  <ui-primary-button><b>Adicione sua arte - Etapa 1</b></ui-primary-button> 
</div>

