@import "../../../../../styles.scss";

.container-switch{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    
    div{
        width: 40px;
        height: 20px;
        background-color: #faf8c7;
        display: flex;
        padding: 5px;
        border-radius: 2px;

        .button-active{
            height: 100%;
            width: 70%;
            position: relative;
            border: none;
            left: 0px;
            cursor: pointer;
            border-radius: 2px;
            background-color: $secondary-color;
            transition: all 0.3s ease-in-out;
        }

        .button-desactive{
            left: 10px;
            width: 70%;
            border-radius: 2px;
            border: none;
            cursor: pointer;
            background-color: $secondary-color;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

        button:hover{
            background-color: #141846;
            transition: all 0.3s ease-in-out;
        }
    }
}