@import "../../../../../styles.scss";

:host ::ng-deep .p-button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
}

.primary-button {
  width: 100%;
  display: flex;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  gap: 10px;
  color: $primary-color;
  background-color: $principal-color;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $principal-color-hover;
  }

  &:active {
    background-color: $principal-color-active;
  }
}
