@import '../../../styles.scss';
@import '../../components/styles/fonts.scss';

.container-home{
    display: flex;
    font-family: "Averia Libre", system-ui;
    flex-direction: column;
    padding-top: 120px;
    align-items: center;

    .container-content-home{
        width: 90%;
    }
    
    .image-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
}