<button [ngStyle]="style" [class]="buttonClass" (click)="handleClick()">
  <img *ngIf="useIcon && iconAlign === 'left'" [src]="iconSrc" class="icon-left" alt="Ícone do botão à esquerda">
  <span [ngStyle]="textStyle">
    <ng-content></ng-content>
  </span>
  <img *ngIf="useIcon && iconAlign === 'right'" [src]="iconSrc" class="icon-right" alt="Ícone do botão à direita">
</button>

<div class="container-spinner">
  <ui-spinner-ios *ngIf="useSpinner"></ui-spinner-ios>
</div>

<p-dialog [(visible)]="showModal" [modal]="true" [closeOnEscape]="false" (onHide)="closeModal()" *ngIf="useModal">
  <ng-template pTemplate="headless">
    <div class="modal-container">
      <div class="modal-header">
        <div style="display: flex; justify-content: space-between; width: 100%;">
          <h1>{{ titleModal }}</h1>
          <h1 style="cursor: pointer;" (click)="closeModal()">✖</h1>
        </div>
        <hr />
      </div>
      <div class="modal-content">
        <ng-content select="[modalContent]"></ng-content>
      </div>
      <div class="modal-footer" *ngIf="useFooter">
        <p-footer>
          <button pButton type="button" label="Fechar" (click)="closeModal()"></button>
        </p-footer>
      </div>
    </div>
  </ng-template>
</p-dialog>
