<div class="primary-gallery">
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchQueryChange(searchQuery)"
      placeholder="{{ 'components.ui-gallery-search.placeholder_searchYourImage' | translate }}" 
      class="search-input"
    />
    <ui-primary-button (click)="searchImages(searchQuery)">{{ 'components.ui-gallery-search.txt_search' | translate }}</ui-primary-button>
  </div>

  <p *ngIf="showingImages" style="align-self: flex-start;">* {{ 'components.ui-gallery-search.txt_clickOnTheImage' | translate }}</p>

  <div *ngIf="loading" class="spinner-container">
    <ui-spinner-ios></ui-spinner-ios>
  </div>

  <div *ngIf="!loading && images.length === 0" class="no-results">
    {{ imageNotFound }}
  </div>

  <div *ngIf="!loading && images.length > 0" class="image-container">
    <cdk-virtual-scroll-viewport class="virtual-scroll-viewport" itemSize="50">
      <div class="image-grid">
        <div *cdkVirtualFor="let image of images" class="image-card">
          <img [src]="image.thumbnailLink" alt="Image" (click)="openImageCardModal(image.id)" />
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <div class="primary-gallery-searcher-loadmore-box">
      <div *ngIf="loadingLoadMore" class="spinner-container">
        <ui-spinner-ios></ui-spinner-ios>
      </div>
      <ui-primary-button (click)="loadMore(offset)" [id]="loadMoreButtonId">
        {{ 'components.ui-gallery-search.txt_loadMore' | translate }}
      </ui-primary-button>
    </div>
  </div>

  <p-dialog
    class="primary-gallery-image-card-modal"
    [(visible)]="showImageCardModal"
    [modal]="true"
    (onHide)="preventModalClose($event)"
  >
    <ng-template pTemplate="headless">
      <div class="primary-gallery-image-card-modal-box">
        <button class="close-button" (click)="closeImageCardModal()">✖</button>
        <img
          class="primary-gallery-image-card-modal-image"
          [src]="this.imageSelected?.regularImageLink"
          alt="Preview da imagem selecionada"
        />
        <button class="select-button" (click)="selectImage(this.imageSelected)">
          {{ 'components.ui-gallery-search.txt_select' | translate }}
        </button>
      </div>
    </ng-template>
  </p-dialog>

  <div class="image-preview-container" *ngIf="selectedImages.length > 0">
    <div *ngFor="let image of selectedImages; let i = index" class="image-preview">
      <img [src]="image" alt="Imagem selecionada">
      <button class="remove-button" (click)="removeImage(i)">✖</button>
    </div>
  </div>
</div>
