@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300;400;700&display=swap');


$primary-color: #0E0A28;
$secondary-color: #191B31;
$secondary-color-hover: #111325;
$secondary-color-active: #0a0c1a;
$principal-color: #FFFEE8;
$principal-color-hover: #faf8c7;
$principal-color-active: #fffca7;
$header-color: #0E0A28CC;

$l-medium: 1300px;
$medium: 900px;
$medium-small: 500px;
$small: 400px;

*{
    margin: 0;
    padding: 0;
    font-family: "Averia Libre", system-ui;
}

.link{
    color: $principal-color;
}

.hidden-container[hidden] {
  display: none !important;
  visibility: hidden;
}

.p-tabview-title {
  background-color: transparent !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: $principal-color-hover !important;
  border-color: $principal-color-hover !important;
}

.p-tabview-nav {
  background-color: $secondary-color-hover !important;
  color: $principal-color !important;
}

.p-tabview-nav li a {
  border-radius: 0 !important;
  background-color: $secondary-color !important;
  border-color: #6b7280 !important;
  height: 100% !important;
  width: max-content !important;
  padding: 15px 30px !important;
}

.p-tabview-nav li a span.ng-star-inserted {
  border-radius: 0 !important;
  background-color: $secondary-color-hover !important;
}

.p-tabview .p-tabview-panels {
  background-color: transparent !important;
}

.primary-tabview p-avatar div {
  width: 1.5rem !important;
  height: 1.5rem !important;
}




html {
  body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%; background-color: $primary-color;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --scrollbar-width: 0px !important;
    overflow: auto !important;

    .ui-overflow-hidden {
      overflow: hidden !important;
    }
  }
}

.primary-input{
  display: flex;
  flex-direction: column;
  border: 2px $principal-color solid;
  padding: 5px;
  color: $principal-color;

  input{
    border: none;
    outline: none;
    background-color: transparent;
    color: $principal-color;
  }
  input.invalid {
    border-color: red;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
}
