@import "../../../../../styles.scss";

.third-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
  
    input{
      border: none;
      outline: none;
      padding: 10px;
      background-color: #0E0F21;
      color: $principal-color;
    }
    input.invalid {
      border-color: red;
    }
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  }