<p-button [ngStyle]="style" class="secondary-button" matTooltip="Indique um amigo e ganhe bônus!">
  <img *ngIf="useIcon && iconAlign === 'left'" [src]="iconSrc" class="icon-left" alt="Ícone do botão à esquerda">
  <span [ngStyle]="textStyle"><ng-content></ng-content></span>
  <img *ngIf="useIcon && iconAlign === 'right'" [src]="iconSrc" class="icon-right" alt="Ícone do botão à direita">
</p-button>
<div class="container-spinner">
  <app-spinner-ios *ngIf="useSpinner">
  </app-spinner-ios>
</div>
<p-dialog [(visible)]="showModal" [modal]="true" (onHide)="closeModal()">
  <ng-template pTemplate="headless">
    <div class="modal-container">
      <div [style]="{ display: 'flex', justifyContent: 'space-between', width: '100%', marginBottom: '20px' }"><h1>{{titleModal}}</h1><h1 [style]="{ cursor: 'pointer' }" (click)="closeModal()">x</h1></div>
      <hr>
      <div [style]="{ marginTop: '20px' }" *ngIf="modalContent" [ngTemplateOutlet]="modalContent">
      </div>
      <p-footer *ngIf="useFooter">
        <button pButton type="button" label="Fechar" (click)="closeModal()"></button>
      </p-footer>
    </div>
  </ng-template>
</p-dialog>
