@import '../../../../../styles.scss';

.artes-andamento{
    margin-top: 40px;

    .container-img-nenhuma-arte{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
        justify-content: center;

        .button{
            border: 2px $principal-color solid;
            background-color: $secondary-color;
            color: $principal-color;
            font-size: 16px;
            padding: 10px 40px 10px 40px;
        }
    }
}


.container-content-modal{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px;

    .container-division-content-form{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .container-switch{
            display: flex;
            align-items: center;
            gap: 10px;
            
            div{
                width: 40px;
                height: 20px;
                background-color: #faf8c7;
                display: flex;
                padding: 5px;
                border-radius: 2px;

                button{
                    height: 100%;
                    width: 70%;
                    border: none;
                    cursor: pointer;
                    border-radius: 2px;
                    background-color: $secondary-color;
                }
            }
        }
    }

    .input{
        display: flex;
        flex-direction: column;
    }
}
