<!-- Na chamada do ui-secondary-button -->
<div class="artes-andamento" ngSkipHydration>
  <h2>{{ 'pages.home.component_art_in_progress.title' | translate }}</h2>
  <div class="container-img-nenhuma-arte">
    <img src="../../../assets/nenhuma-arte.png" alt="">
    <b>{{ 'pages.home.component_art_in_progress.txt_noHaveArts' | translate }}</b>

    <ui-secondary-button
      [useModal]="true"
      [titleModal]="'pages.home.modal_register_art.title' | translate"
      [modalWidth]="'700'"
    >
      <!-- Conteúdo do botão -->
      {{ 'pages.home.component_art_in_progress.txt_createArt' | translate }}

      <!-- Conteúdo do modal -->
      <div modalContent>
        <content-artes-andamento-modal-registrar-arte></content-artes-andamento-modal-registrar-arte>
      </div>
    </ui-secondary-button>
  </div>
</div>
