<div class="artes-andamento">
    <h2>Artes em andamento</h2>
    <div class="container-img-nenhuma-arte">
        <img src="../../../assets/nenhuma-arte.png" alt="">
        <b>Você não tem nenhuma arte!</b>
        <ui-secondary-button modalClass="" modalId="modal-criar-arte" titleModal="Adicione sua arte" [useModal]="true">
          Criar Arte
          <ng-template #modalContent>
            <content-artes-andamento-modal-registrar-arte></content-artes-andamento-modal-registrar-arte>
          </ng-template>
        </ui-secondary-button>
    </div>
</div>
