<div class="container-login">
    <div class="container-content-total-login">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="">
            Arthub
        </div>
        <div class="container-text-login">
            <p>Bem-vindo de volta :3</p>
            <h1>Entre na conta</h1>
        </div>
        <div class="container-content-login">
            <div class="input">
                Email
                <input type="text" placeholder="Digite seu email..." [(ngModel)]="accountLoginPerson.email">
            </div>
            <div class="input">
                Senha
                <input type="password" placeholder="Digite seu senha..." [(ngModel)]="accountLoginPerson.password">
            </div>
            <a class="link" href="#">Esqueci a senha</a>
        <button (click)="PostLoginAccount()"><b>Entrar</b></button>
        <p><a class="link" href="registro">Criar conta!</a></p>
    </div>
</div>