@import '../../../styles.scss';

.container-login{
    background-image: url("../../../assets/background-registro.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    gap: 25px;
    
    .container-content-total-login{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 30px;

        .container-text-login{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .container-content-login{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 290px;
    
            .input{
                display: flex;
                flex-direction: column;
                border: 2px $border-color solid;
                padding: 5px;
                color: $border-color;
    
                input{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: $border-color;
                }
            }
        }
    
        .logo{
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 20px;
        }
    }
}