<div class="container-header">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="">
        Arthub
    </div>
    <div class="buttons-indique-ham">
      <ui-primary-button [useIcon]="true" [useModal]="true" [textStyle]="{'fontWeight': '700'}" iconAlign="left" iconSrc="../../../assets/dinehiro.svg">
        {{ 'components.header.txt_referAndEarn' | translate }}
        <div modalContent><header-indique-e-ganhe-modal></header-indique-e-ganhe-modal></div>
      </ui-primary-button>
      <i (click)="toggleSidebar('right')" class="pi pi-align-right menu-btn" style="font-size: 2rem;"></i>
    </div>
</div>
<div class="container-bottom-header">
  <div>
    <i (click)="toggleSidebar('bottom')" class="pi pi-align-right menu-btn" style="font-size: 2rem;"></i>
  </div>

</div>

<p-sidebar [(visible)]="sidebarMenuVisible" [position]="sidebarPosition">
  <header-sidebar-menu-content></header-sidebar-menu-content>
</p-sidebar>

